:root {
  --togeYellow: #fef87d; /* Highlights */
  --togeBrown: #7c6140;  /* Borders */
  --togeGray: #d3d7d6;   /* Backgrounds */
  --togeBlack: #444545;  /* Text */

  background-color: var(--togeGray);
  color: var(--togeBlack);
}

* {
  padding: 0.25em;
}

a:link, a:visited {
  color: black;
  border: 2px solid var(--togeBrown);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: var(--togeYellow);
}

td, th {
  border-style: none solid solid none;
  border-color: var(--togeBrown);
  border-width: 2px;
}

td:hover, th:hover {
  background-color: var(--togeYellow);
}

details {
  border: 2px solid var(--togeBrown);
  display: inline-block;
  width: 50%;
}

details[open] summary {
  border-bottom: 2px solid var(--togeBrown);
}

summary:hover {
  background-color: var(--togeYellow);
}

::selection {
  text-decoration-line: underline;
  background-color: var(--togeYellow);
}
