:root {
  --togeYellow: #fef87d; /* Highlights */
  --togeBrown: #7c6140;  /* Borders */
  --togeGray: #d3d7d6;   /* Backgrounds */
  --togeBlack: #444545;  /* Text */
  --togeWhite: #eaecec;  /* Something :) */

  background-color: var(--togeGray);
  color: var(--togeBlack);
}

* {
  padding: 0.25em;
}

a:link, a:visited {
  color: black;
  border: 2px solid var(--togeBrown);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: var(--togeYellow);
}

td, th {
  border-style: none solid solid none;
  border-color: var(--togeBrown);
  border-width: 2px;
}

td:hover, th:hover {
  background-color: var(--togeYellow);
}

details {
  border: 2px solid var(--togeBrown);
  display: inline-block;
  width: 50%;
}

details[open] summary {
  border-bottom: 2px solid var(--togeBrown);
}

summary:hover {
  background-color: var(--togeYellow);
}

::selection {
  text-decoration-line: underline;
  background-color: var(--togeYellow);
}

input[type="text"] {
  width: auto;
  border: 2px solid var(--togeBrown);
  border-radius: 0px;
  background-color: var(--togeGray);
}

input[type="text"]:hover {
  background-color: var(--togeYellow);
}

kbd {
  background-color: var(--togeWhite);
  border-radius: 3px;
  border: 1px solid var(--togeBrown);
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0),
    0 2px 0 0 var(--togeBrown) inset;
  color: var(--togeBlack);
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.error {
  border-left: 5px solid rgba(255, 0, 0, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(255, 0, 0, 0.5);
}

.info {
  border-left: 5px solid rgba(0, 0, 255, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(0, 0, 255, 0.5);
}


.warn {
  border-left: 5px solid rgba(255, 255, 0, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(255, 255, 0, 0.5);
}

.success {
  border-left: 5px solid rgba(0, 255, 0, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(0, 255, 0, 0.5);
}

.critical {
  border-left: 5px solid rgba(127, 0, 0, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(127, 0, 0, 0.5);
}

.confirm {
  border-left: 5px solid rgba(127, 127, 255, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(127, 127, 255, 0.5);
}

.notice {
  border-left: 5px solid rgba(255, 255, 255, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(255, 255, 255, 0.5);
}

.debug {
  border-left: 5px solid rgba(127, 0, 127, 1);
  padding: 1em;
  padding-left: 2em;
  background: rgba(127, 0, 127, 0.5);
}

/* maybe scale all these by font size and calc */

.cm-pixel {
  width: 1cm;
  max-width: 1cm;
  height: 1cm;
  max-height; 1cm;
}

.mm-pixel {
  width: 1mm;
  max-width: 1mm;
  height: 1mm;
  max-height; 1mm;
}

.in-pixel {
  width: 1in;
  max-width: 1in;
  height: 1in;
  max-height; 1in;
}

.px-pixel {
  width: 1px;
  max-width: 1px;
  height: 1px;
  max-height; 1px;
}

.pt-pixel {
  width: 1pt;
  max-width: 1pt;
  height: 1pt;
  max-height; 1pt;
}

.pc-pixel {
  width: 1pc;
  max-width: 1pc;
  height: 1pc;
  max-height; 1pc;
}

.em-pixel {
  width: 1em;
  max-width: 1em;
  height: 1em;
  max-height; 1em;
}

.ex-pixel {
  width: 1ex;
  max-width: 1ex;
  height: 1ex;
  max-height; 1ex;
}

.ch-pixel {
  width: 1ch;
  max-width: 1ch;
  height: 1ch;
  max-height; 1ch;
}

.rem-pixel {
  width: 1rem;
  max-width: 1rem;
  height: 1rem;
  max-height; 1rem;
}

.vw-pixel {
  width: 1vw;
  max-width: 1vw;
  height: 1vw;
  max-height; 1vw;
}

.vh-pixel {
  width: 1vh;
  max-width: 1vh;
  height: 1vh;
  max-height; 1vh;
}

.vmin-pixel {
  width: 1vmin;
  max-width: 1vmin;
  height: 1vmin;
  max-height; 1vmin;
}

.vmax-pixel {
  width: 1vmax;
  max-width: 1vmax;
  height: 1vmax;
  max-height; 1vmax;
}
