:root {
    --togeYellow: #fef87d;
    --togeGray: #ffffff;
    --togeDarkGray: #444545;
    --togeHover: #7c6140;
    --backgroundColor: #d3d7d6;
}

body {
    background-color: var(--backgroundColor);
}

h3 {
    color: var(--togeDarkGray);
}

/* Consolidated styles for button-like elements */
.button-style, a, .text-input, .button-input, .number-input {
    background-color: var(--togeYellow);
    color: var(--togeDarkGray);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: groove;
    border-width: medium;
    border-radius: 8px;
    padding: 15px 25px;
}

/* Hover effects */
a:hover, .button-input:hover {
    background-color: var(--togeHover);
}

img {
    border-style: groove;
    border-width: medium;
    border-color: var(--togeDarkGray);
    border-radius: 8px;
}

* {
    box-sizing: border-box;
}

/* Gradient button base class */
.gradient-button {
    background: linear-gradient(
        to right,
        var(--primary-color) 0%,
        var(--primary-color) 50%,
        var(--togeYellow) 50%,
        var(--togeYellow) 100%
    );
}

#reddit-link {
    --primary-color: #FF4500;
}

#bluesky-link {
    --primary-color: #1185FE;
}

#twitter-link {
    --primary-color: #1DA1F2;
}

#login-link {
    --primary-color: #1f2636;
}

/* Flex-based layout */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }
}

/* Style the input field */
  #textInput {
    font-size: 16px; /* Make sure font-size matches in both input and span */
    padding: 5px;
    width: 300px;
  }
  
  /* Hidden span to measure the text width */
  #textWidthSpan {
    visibility: hidden;
    white-space: pre; /* Preserve spaces in the text */
    position: absolute;
  }
